.card .col-md-4 .miniquote-wrapper {
  padding-right: 15px;
}
.card .col-md-4 a.minicart-wrapper {
  color: #fff;
  padding: 10px 0px;
}
.item .item-inner .product-item-info .box-hover .actions-primary .action.toquote:before {
  content: "";
  position: inherit;
}
.item .item-inner .product-item-info .box-hover .actions-primary .action.tocart:before {
  content: "\e680";
  font-family: 'Stroke-Gap-Icons';
  text-align: center;
  position: absolute;
  display: block;
  left: 0;
  top: 0px;
  color: #868686;
  font-size: 20px;
  width: 100%;
  height: 100%;
  font-weight: 400;
}
.catalog-category-view .quote-category {
  width: 200px;
  text-align: center;
  padding-top: 0px;
  position: relative;
  top: -14px;
}
.minicart-wrapper {
  .product {
    .actions {
      margin: 0;
      top:0;
    }
  }
} 
.minicart-items-wrapper {
  height:450px!important;
}
#wishlist-sidebar {
  .quote-category {
    width: 100%;
    top:10px;
    .toquote {
      &:hover {
        color:#fff;
      }
    }
  }
}
.cms-fast-order {
  .sorter {
    .sorter-action {
      top:15px;
    }
  }
}
@media only screen and (min-width: 768px) {
  .catalog-product-view .product-info-main .product-add-form .box-tocart .actions button.toquote {
  width: 172px;
  height: auto;
  padding: 0px 9px;
  text-align: center;
  }
}
@media only screen and (max-width: 767px){
  .catalog-product-view .product-info-main .product-add-form .box-tocart .actions button.toquote {
    width: 100%;text-align: center;
  }
}
