@color_1: #fff;
@color_2: #e02b27;
@background_color_1: transparent;

/**
* BSS Commerce Co.
*
* @copyright  Copyright (c) 2017-2018 BSS Commerce Co. ( http://bsscommerce.com )
*/
#bss_ajaxmuntiple_overlay {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
	top: 0;
	left: 0;
	z-index: 99;
}
#bss_ajaxmuntiple_cart_popup {
	display: none;
	width: 500px;
	max-width: 80%;
	top: 25%;
	margin: 0 auto;
	z-index: 999;
	text-align: center;
	.btn-viewcart {
		width: 50%;
		float: left;
		color: @color_1;
		.viewcart {
			background: #1979c3;
			box-shadow: none;
			border: none;
			color: @color_1;
			&:hover {
				background: #006bb4;
			}
		}
	}
	.btn-continue {
		width: 50%;
		float: left;
		color: @color_1;
		.continue {
			background: #1979c3;
			box-shadow: none;
			border: none;
			color: @color_1;
			&:hover {
				background: #006bb4;
			}
		}
	}
	.fancybox-inner {
		height: auto !important;
		max-height: 500px;
	}
}
.addmanytocart {
	z-index: 99;
}
.full-width {
	width: 100% !important;
}
p.messages-error {
	text-align: left;
	color: @color_2;
}
.remove-er-pu {
	float: right;
	background: url(../images/bin.png);
	background-size: 65%;
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
	cursor: pointer;
	position: relative;
	top: 35px;
}
.info-er-pu {
	float: left;
	width: 50%;
	min-width: 200px;
	margin-left: 20px;
	margin-right: 20px;
	text-align: left;
}
.item-info-er {
	position: relative;
}
.item-img-er {
	float: left;
	width: 20%;
	min-width: 100px;
}
.item-er-pu {
	border: 1px solid #d2d2d2;
	padding: 5px;
	border-bottom: 0px;
	&:last-child {
		border-bottom: 1px solid #d2d2d2;
	}
}
.product-qty-er {
	display: block;
	padding: 5px 0;
	height: 35px;
	span {
		display: block;
		width: 35px;
		float: left;
		line-height: 32px;
	}
	input {
		display: block;
		width: 45px !important;
	}
}
button#product-addtocart-button-er-pu {
	display: block;
	margin: 15px 0px;
}
.popup {
	.header {
		margin-bottom: 15px;
	}
}
#product-slider {
	padding: 0;
	margin-bottom: 10px;
	list-style: none;
	li {
		padding-left: 5px;
		&:last-child {
			padding-left: 0px;
		}
	}
	.owl-controls {
		.owl-buttons {
			div {
				position: absolute;
				display: block;
				width: 15px;
				height: 25px;
				line-height: 25px;
				text-align: center;
				cursor: pointer;
				text-decoration: none;
				overflow: hidden;
				text-indent: -9999px;
				background-image: url(../images/slider-arrows.png);
				background-repeat: no-repeat;
				background-color: @background_color_1;
				transition: opacity 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
				-moz-transition: opacity 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
				-webkit-transition: opacity 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
				-o-transition: opacity 300ms ease-in-out, background-color 300ms ease-in-out, background-position 300ms ease-in-out;
				opacity: 1;
			}
			.owl-next {
				background-position: -55px -10px;
				right: -15px;
				top: 46%;
			}
			.owl-prev {
				background-position: -10px -10px;
				left: -15px;
				top: 46%;
			}
		}
	}
}
.item.product-info {
	background: rgba(255,255,255,0);
	border: 1px solid rgba(232, 232, 232, 0.57);
	margin-left: 5px;
	width: 95%;
	position: relative;
	a {
		display: block;
		width: 90%;
		margin: auto;
	}
}
input.product-select {
	margin-right: 5px !important;
}
input.qty-m-c {
	width: 35px;
	height: 30px;
	margin-bottom: 5px;
	color:#676767;
}
.multi-addtocart {
	.box-hover {
		height: 80px!important;
	}
	.actions-primary {
		height:65px!important;
		.action {
			&.tocart {
				position:relative;
				margin-bottom: 10px;
			}
		}
		.quote-category {
			top: -35px;
		}
	}
	.product-item-details {
		padding-top:35px!important;
	}
}
.button-bs-ad {
	span.total_qty {
		font-size: 11px;
		display: block;
	}
	span.total_products {
		font-size: 11px;
		display: block;
	}
}
.products-list {
	input.qty-m-c {
		width: 45px;
		height: 35px;
		position: relative;
		top: 2px;
		margin-right: 5px;
	}
}
.product-item {
	&:hover {
		z-index: 5;
	}
}
.ad-mt-stick {
	background: url('../images/green_tick.png');
	display: block;
	height: 30px;
	width: 30px;
	z-index: 4;
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	right: 15px;
	top: 5px;
}
.list {
	.ad-mt-stick {
		left: 15px;
	}
}
@media only screen and (max-width: 767px) {
	#bss_ajaxmuntiple_cart_popup {
		.fieldset {
			>.field {
				.note {
					font-size: 10px;
				}
			}
			>.fields {
				>.field {
					.note {
						font-size: 10px;
					}
				}
			}
		}
		input[type="text"] {
			width: auto;
		}
		select {
			width: auto;
		}
	}
	.remove-er-pu {
		top: 0;
	}
}
